@page "{id:int}"
@model GYMPT.Pages.Users.UserDetailModel
@{
    ViewData["Title"] = "Detalles del Usuario";
}

@if (Model.User != null)
{
    <div class="card shadow-sm">
        <div class="card-header">
            <h1 class="h3">@ViewData["Title"]: @Model.User.Name @Model.User.FirstLastname</h1>
        </div>
        <div class="card-body">
            <!-- Usamos una lista de definición para mostrar los datos -->
            <dl class="row">
                <dt class="col-sm-3">Nombre Completo</dt>
                <dd class="col-sm-9">@Model.User.Name @Model.User.FirstLastname @Model.User.SecondLastname</dd>

                <dt class="col-sm-3">Email</dt>
                <dd class="col-sm-9">@Model.User.Email</dd>

                <dt class="col-sm-3">CI</dt>
                <dd class="col-sm-9">@Model.User.Ci</dd>

                <dt class="col-sm-3">Fecha de Nacimiento</dt>
                <dd class="col-sm-9">@Model.User.DateBirth.ToString()</dd>

                <dt class="col-sm-3">Rol</dt>
                <dd class="col-sm-9">@Model.User.Role</dd>

                <dt class="col-sm-3">Estado</dt>
                <dd class="col-sm-9">@(Model.User.IsActive ? "Activo" : "Inactivo")</dd>

                @if (Model.User.Role == "Instructor")
                {
                    <hr class="my-3" />
                    <h5 class="text-success">Información de Instructor</h5>
                    <dt class="col-sm-3">Fecha de Contratación</dt>
                    <dd class="col-sm-9">@Model.User.HireDate?.ToShortDateString()</dd>

                    <dt class="col-sm-3">Salario Mensual</dt>
                    <dd class="col-sm-9">@Model.User.MonthlySalary?.ToString("C")</dd>

                    <dt class="col-sm-3">Especialización</dt>
                    <dd class="col-sm-9">@Model.User.Specialization</dd>
                }
            </dl>
        </div>
        <div class="card-footer text-end">
            <a asp-page="/Users/UserEdit" asp-route-id="@Model.User.Id" class="btn btn-primary">
                <i class="fas fa-pencil-alt"></i> Editar
            </a>
            <a asp-page="/Users/Users" class="btn btn-secondary">
                <i class="fas fa-arrow-left"></i> Volver a la Lista
            </a>
        </div>
    </div>
}